body {
    width: 100%;
    color:#414141;
    background-color: #555555;
}
.givanflix{ 
    font-size: 80px;
    margin-left: 0px;
    margin-block: 0px;
}
.tv1 {
    margin-left: 50px;
    margin-block: 1px;
    font-size: 20px; 
}
h1{
    font-size: 80px;
    margin-left: 0px;
    margin-block: 1px;
}